.hero .hero__image {
  border-radius: 10px;
  box-shadow: 6px 7px 24px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.hero .hero__image img {
  display: block;
  max-width: 100%;
}

.hero .hero__caption h2 {
  margin: 1rem 0 3rem;
  font-size: 2rem;
  font-weight: 100 !important;
  text-align: center;
  text-transform: uppercase;
}

.hero .hero__caption h2::after {
  content: "";
  width: 100px;
  height: 1px;
  background: black;
  display: block;
  margin: 1rem auto;
  position: absolute;
  left: 0;
  right: 0;
}
