@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(241, 246, 251, 0.6);
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

div.engage__welcome {
  margin-bottom: 3rem;
}

div.engage__welcome p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
}

.engage__welcome .engage__copy {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  gap: 2rem;
  padding: 1rem 2rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2.6px 2.7px rgba(0, 0, 0, 0.012), 0 6.5px 6.9px rgba(0, 0, 0, 0.018), 0 13.3px 14.2px rgba(0, 0, 0, 0.022), 0 27.4px 29.2px rgba(0, 0, 0, 0.028), 0 75px 80px rgba(0, 0, 0, 0);
}

.engage__copy--right {
  text-align: right;
}

h1.page__title {
  font-size: 3rem;
  font-weight: 900;
  margin-top: 0;
  text-align: center;
}

h2.page__heading {
  margin: 1rem 0 3rem;
  font-size: 2rem;
  font-weight: 100 !important;
  text-align: center;
  text-transform: uppercase;
}

h2.page__heading::after {
  content: "";
  width: 100px;
  height: 1px;
  background: black;
  display: block;
  margin: 1rem auto;
  position: absolute;
  left: 0;
  right: 0;
}

.align--center {
  text-align: center;
}

.fourohfour {
  display: block;
  width: 200px;
  margin: 0 auto 2rem;
}
